<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.tgm.cordova.date" version="0.0.6-dev">
  <name>Date</name>
  <description>Cordova plugin to interface with TrueTime's Android and iOS NTP libaries.</description>
  <license>Apache 2.0</license>
  <keywords>cordova,cordova-android,ntp</keywords>
  <repo>https://github.com/totalpave/cordova-plugin-date</repo>

  <js-module src="www/date.js" name="Date">
    <clobbers target="totalpaveDate" />
  </js-module>

  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TPDate">
        <param name="android-package" value="com.totalpave.tpdate.TPDate"/>
        <param name="onload" value="true"/>
      </feature>
	</config-file>
	<!--
	<framework src="src/android/tpdate-gradle.gradle" custom="true" type="gradleReference" />
	-->
	<source-file src="src/android/TPDate.java" target-dir="src/com/totalpave/date" />

	<source-file src="src/android/truetime/CacheInterface.java" target-dir="src/com/totalpave/date/truetime" />
    <source-file src="src/android/truetime/DiskCacheClient.java" target-dir="src/com/totalpave/date/truetime" />
    <source-file src="src/android/truetime/InvalidNtpServerResponseException.java" target-dir="src/com/totalpave/date/truetime" />
    <source-file src="src/android/truetime/SharedPreferenceCacheImpl.java" target-dir="src/com/totalpave/date/truetime" />
    <source-file src="src/android/truetime/SntpClient.java" target-dir="src/com/totalpave/date/truetime" />
    <source-file src="src/android/truetime/TrueLog.java" target-dir="src/com/totalpave/date/truetime" />
    <source-file src="src/android/truetime/TrueTime.java" target-dir="src/com/totalpave/date/truetime" />
  </platform>

  <hook src="hooks/updateXCConfig.js" type="after_prepare" />
  <hook src="hooks/updateXCConfig.js" type="before_prepare" />
  <hook src="hooks/updateXCConfig.js" type="before_compile" />
</plugin>
